openapi: 3.0.3
info:
  title: Users API
  description: API для управления пользователями
  version: 1.0.0

servers:
  - url: http://localhost:8080

paths:
  /users:
    post:
      summary: Создать пользователя
      tags:
        - users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          description: Пользователь создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Некорректный запрос

  /users/{id}:
    get:
      summary: Получить пользователя по ID
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        "200":
          description: Пользователь найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "404":
          description: Пользователь не найден

    put:
      summary: Обновить пользователя
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: Пользователь обновлён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Некорректный запрос
        "404":
          description: Пользователь не найден

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        firstname:
          type: string 
          example: Ivan
        lastname:
          type: string
          example: Ivanov
        username:
          type: string
          example: ivan2200
        chatid:
          type: integer
          example: 1

    CreateUserRequest:
      type: object
      required:
        - id 
        - username
        - chatid
      properties:
        id:
          type: integer
          example: 1
        firstname:
          type: string
          example: Ivan
        lastname:
          type: string 
          example: Ivanov
        username:
          type: string
          example: ivan2200
        chatid:
          type: integer 
          example: 1

    UpdateUserRequest:
      type: object
      properties:
        firstname:
          type: string
          example: Ivan Updated
        lastname: 
          type: string 
          exmaple: Ivanov Updated 
        username:
          type: string
          example: ivanupdated
      